gensim==4.1.2
gitdb==4.0.9
GitPython==3.1.27
isort==5.10.1
itsdangerous==2.0.1
MarkupSafe==1.1.1
matplotlib-inline==0.1.3
nltk==3.7
notebook==6.4.11
numpy==1.18.1
pandas==1.4.2
psycopg2-binary==2.9.3
pytest==7.1.2
requests==2.26.0
scikit-learn==1.0.2
scipy==1.8.0
snowflake-connector-python==2.7.1
snowflake-sqlalchemy==1.3.3
SQLAlchemy==1.4.31
streamlit==1.8.1
textblob==0.17.1
webencodings==0.5.1
Werkzeug==2.0.2
